# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/XEL/v16/ipch/AutoPCH/3f0bdbf3d970882a/XELENGINE.ipch
*.ipch
*.suo
*.db
*.opendb
/.vs/CMake Overview
/.vs/launch.vs.json
/.vs/ProjectSettings.json
*.sqlite
/.vs/VSWorkspaceState.json
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
*.json
/out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.cmake
*.bin
/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
*.check_cache
*.log
/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug
/out/build/x64-Release/CMakeFiles/3.16.19112601-MSVC_2
/out/build/x64-Release/CMakeFiles/ShowIncludes
/out/build/x64-Release
/c.pub
/c
/CMakeLists.txt.user
/CMakeLists.txt.user.4.9-pre1
/CMakeLists.txt.user.5c9ba83.4.8-pre1
/.vs/XEL/v16/TestStore/0
