# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/XEL/v16/ipch/AutoPCH/3f0bdbf3d970882a/XELENGINE.ipch
*.ipch
*.suo
*.db
*.opendb
/.vs/CMake Overview
/.vs/launch.vs.json
/.vs/ProjectSettings.json
*.sqlite
/.vs/VSWorkspaceState.json
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
*.json
/out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.cmake
*.bin
/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
*.check_cache
*.log
/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug
/out/build/x64-Release/CMakeFiles/3.16.19112601-MSVC_2
/out/build/x64-Release/CMakeFiles/ShowIncludes
/out/build/x64-Release
/c.pub
/c
/CMakeLists.txt.user
/CMakeLists.txt.user.4.9-pre1
/CMakeLists.txt.user.5c9ba83.4.8-pre1
/.vs/XEL/v16/TestStore/0
/.vs/C++/FileContentIndex/f508da03-ce1b-4296-b49d-4b4e101327ab.vsidx
/.vs/C++/FileContentIndex
/.vs/C++/v17
/.vs
CMakeCache.txt
Makefile
build/CMakeCache.txt
build/Makefile
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/XEL_SHARED.dir/build.make
build/CMakeFiles/XEL_SHARED.dir/compiler_depend.make
build/CMakeFiles/XEL_SHARED.dir/compiler_depend.ts
build/CMakeFiles/XEL_SHARED.dir/depend.make
build/CMakeFiles/XEL_SHARED.dir/flags.make
build/CMakeFiles/XEL_SHARED.dir/link.txt
build/CMakeFiles/XEL_SHARED.dir/progress.make
build/CMakeFiles/XEL_TEST.dir/build.make
build/CMakeFiles/XEL_TEST.dir/compiler_depend.make
build/CMakeFiles/XEL_TEST.dir/compiler_depend.ts
build/CMakeFiles/XEL_TEST.dir/depend.make
build/CMakeFiles/XEL_TEST.dir/flags.make
build/CMakeFiles/XEL_TEST.dir/link.txt
build/CMakeFiles/XEL_TEST.dir/progress.make
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/Progress/1
CMakeFiles/Progress/count.txt
CMakeFiles/XEL_SHARED.dir/build.make
CMakeFiles/XEL_SHARED.dir/compiler_depend.internal
CMakeFiles/XEL_SHARED.dir/compiler_depend.make
CMakeFiles/XEL_SHARED.dir/compiler_depend.ts
CMakeFiles/XEL_SHARED.dir/depend.make
CMakeFiles/XEL_SHARED.dir/flags.make
CMakeFiles/XEL_SHARED.dir/link.txt
CMakeFiles/XEL_SHARED.dir/progress.make
CMakeFiles/XEL_TEST.dir/build.make
CMakeFiles/XEL_TEST.dir/compiler_depend.make
CMakeFiles/XEL_TEST.dir/compiler_depend.ts
CMakeFiles/XEL_TEST.dir/depend.make
CMakeFiles/XEL_TEST.dir/flags.make
CMakeFiles/XEL_TEST.dir/link.txt
CMakeFiles/XEL_TEST.dir/progress.make
XEL_TEST
CMakeFiles/XEL_TEST.dir
compile_flags.txt
